.project-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-grow: 1;
}

.top-bar, .tab-navigation {
    flex-shrink: 0;
}

.react-flow-container {
    flex-grow: 1;
    flex-direction: row;
    height: calc(100vh - 120px); /* Adjust this based on the combined height of your TopBar and TabNavigation */
    /* width: 100%; */
    position: relative;
}