.top-bar {
    background: #025159;
    font-size: 30px;
    height: 50px;
    color: white;
    font-weight: bolder;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-left{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.top-bar-logo {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.top-bar-add {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
}

.top-bar-right {
    display: flex;
    align-items: center;
}