@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  @apply text-base;
}

h1 {
  @apply mb-7 font-semibold xl:text-5xl text-4xl;
}

h5 {
  @apply text-2xl mb-3 pb-0.5;
  border-bottom: 2px solid #C0C0C0;
}

.primaryBtn {
  border: 1px solid var(--primary);
  padding: 0.5rem;
  @apply rounded-btn bg-primary text-white;
}


.fileBtn {
  @apply flex rounded-btn border-2 p-4 justify-center cursor-pointer border-secondary self-center;
}

.secondaryBtn {
  @apply  fileBtn text-white border-solid bg-secondary;
}

.uploadBtn {
  @apply fileBtn text-black border-dashed  ;
}

.navBarBtn {
  @apply cursor-pointer self-center w-[33px] h-[33px]
}

.secondaryBtn:hover, 
.secondaryBtn:focus {
  box-shadow: 2 2 2 2em var(--topbar);
  @apply bg-topbar shadow-md;
}

.iconBtn {
  @apply flex self-center mr-2 text-2xl;
}

.nodeBtn {
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  color: white;
  @apply bg-secondary rounded-btn text-base;
}

.sidebar {
  height: calc(100vh - 4.9rem);
  top: 3.1rem;
  @apply border-l border-gray-fieldBorder;
}

@media screen and (min-width: 768px) {
  .project-page-container {
    flex-direction: row;
  }
}

.react-tooltip {
  @apply z-20
}

.customTooltip {
  font-size: 0.85rem !important;
  font-style: normal !important;
}